{% extends '::layout.html.twig' %}

{% block main_content %}
    <ul class="realistate clearfix">
        {% set index = 1 %}
        {% for realistate in realistates %}
            <li class="{{ index == 1?'left-item':index == 3?'right-item':'' }}">
                <a href="{{ asset('images/realistate/' ~ realistate.images.first.imageName ) | imagine_filter('realistate_big')  }}" class="fancybox hover-effect" rel="gallery{{ realistate.id }}" data-hover-text="Vergroot de weergave" title="{{ realistate.title }}">
                    <img src="{{ asset('images/realistate/' ~ realistate.images.first.imageName ) | imagine_filter('realistate_thumb')  }}" alt="" />
                </a>
                <div style="display: none">
                    {% for image in realistate.images %}
                        {% if not loop.first %}
                            <a href="{{ asset('images/realistate/' ~ image.imageName ) | imagine_filter('realistate_big')  }}" class="fancybox" rel="gallery{{ realistate.id }}" title="{{ realistate.title }}">
                                <img src="{{ asset('images/realistate/' ~ image.imageName ) | imagine_filter('realistate_thumb')  }}" alt="" />
                            </a>
                        {% endif %}
                    {% endfor %}
                </div>
            </li>
            {% if index == 3 %}
                {% set index = 1 %}
            {% else %}
                {% set index = index + 1 %}
            {% endif %}
        {% endfor %}
    </ul>
{% endblock %}
