<!doctype html>
<!--[if lt IE 7]> <html class="no-js lt-ie10 lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie10 lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie10 lt-ie9" lang="en"> <![endif]-->
<!--[if IE 9]>    <html class="no-js lt-ie10 ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
    <head>
        <meta charset="UTF-8" />
        <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
        <title>{% block title %}Athago bouwbedrijf{% endblock %}</title>
        {% set _meta_keywords = block('meta_keywords') %}
        {% set _meta_description = block('meta_description') %}
        <meta name="keyword" content="{{ _meta_keywords }}">
        <meta name="description" content="{{ _meta_description }}">
        {% block stylesheets %}
            {% stylesheets "css/*"  output="cache/*.css" filter="cssrewrite" %}
            <link rel="stylesheet" href="{{ asset_url }}" type="text/css" />
            {% endstylesheets %}
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        <div class="container clearfix">
            <div class="header clearfix">
                <a href="{{ path('homepage') }}" class="logo" title="Athago">Athago</a>
                <div class="share">
                    <a href="http://www.addthis.com/bookmark.php" class="addthis_button button" addthis:url="{{ url('homepage') }}">Deel onze site met anderen</a>
                </div>
                <nav class="clearfix">
                    <ul class="menu">
                        <li{{ app.request.get('_route') == 'homepage'?' class="active"':'' }}>
                            <a href="{{ path('homepage') }}">Home</a>
                        </li>
                        <li{{ app.request.get('_route') == 'over-ons-page'?' class="active"':'' }}>
                            <a href="{{ path('over-ons-page') }}">Over ons</a>
                        </li>
                        <li{{ app.request.get('_route') == 'realistate'?' class="active"':'' }}>
                            <a href="{{ path('realistate') }}">Realisaties</a>
                        </li>
                        <li{{ app.request.get('_route') == 'sale_list' or app.request.get('_route') == 'sale_show'?' class="active"':'' }}>
                            <a href="{{ path('sale_list') }}">Te koop</a>
                        </li>
                        <li{{ app.request.get('_route') == 'contact-page'?' class="active"':'' }}>
                            <a href="{{ path('contact-page') }}">Contact</a>
                        </li>
                    </ul>
                </nav>
            </div>
            <div class="slider clearfix">
                {% block slider %}{% endblock %}
            </div>
            <div class="content clearfix">
                {% block main_content %}
                    <div class="left-side">
                        {% block content %}

                        {% endblock %}
                    </div>
                    <div class="right-side">
                        {% block rightside %}

                        {% endblock %}
                    </div>
                {% endblock %}
            </div>
            <div class="footer">
                <p>ATHAGO NV | Kwikaard 110 | 2980 Sint-Antonius Zoersel | tel. 03-383.07.86 | fax 03-384.08.41 | <a href="mailto:info@athago.be">info@athago.be</a></p>
                <p class="made-in"><a href="http://www.beeldstudio.be" target="_blank" title="website: BeeldStudio Creatives">website: BeeldStudio Creatives</a></p>
            </div>
        </div>
        {% block javascripts %}
            {% javascripts "js/jquery-1.8.3.min.js"
            "js/sly.min.js"
            "js/jquery.fancybox.pack.js"
            "js/scripts.js"
            output="cache/*.js" %}
            <script src="{{ asset_url }}"></script>
            {% endjavascripts %}
            <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid="></script>
        {% endblock %}
    </body>
</html>
